/* External */

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;

}
.paragraf{
    font-family: sans-serif;
    font-variant: small-caps;
    line-height: 10px;
}
.paragraf span{
    font-weight: bolder;
    font-style: italic;
}
.text{
    font:20px arial,sans-serif;    
}